---

---

<div
  class='w-full h-fit lg:h-96 text-bg-200 flex flex-col justify-center items-center gap-4 banner-background lg:py-0 py-6'
>
  <h2 class='max-w-xs lg:max-w-2xl  text-3xl lg:text-4xl text-center font-semibold'>
    Somos una empresa colombiana habilitada como Operador Portuario ante la
    Superintendencia de Puertos y Transporte
  </h2>
  <h3 class='max-w-xs lg:max-w-2xl text-xl text-center'>
    Respetuosos de toda la <span class='font-bold text-accent-100'
      >normatividad legal</span
    >
    vigente como parte de nuestros <span class='font-bold text-accent-100'
      >principios de negocio</span
    >
  </h3>
</div>


